@font-face {
  font-family: 'Transit105';
  src: url('Transit105/Transit105.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#headshot {
  width: 2401px;
  height: 2401px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 65% 50%;
}

.inline-logo {
  height: 1.5em;
  display: inline-block;
}

a {
  color: #3A6E9D;
}

a:not(:hover) {
  text-decoration: none;
}

.carousel-item iframe {
  display: block;
  margin: auto;
}

.div-pad-top {
  padding-top: 4rem;
  margin-top: -2rem;
}